.keypad {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	margin-bottom: 2rem;

	button {
		border-radius: 500px;
		justify-self: center;
		font-size: 2.2rem;
		padding: 0;
		margin: 0;
		aspect-ratio: 1 / 1;

		@supports not (aspect-ratio: 1 / 1) {
			height: 63px;
			width: 63px;
		}
		&:nth-of-type(10) {
			background: $orange;
		}
		&:nth-of-type(12) {
			background: $green;
		}
	}
}

#display {
	font-size: 3rem;
	margin-bottom: 2rem;
	text-align: right;
	background: transparent;
	border-bottom: solid 1px $grey;
}