.keypad {
	display: grid;
	margin: 0 2rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	margin-bottom: 2rem;

	button {
		border-radius: 500px;
		font-size: 2.5rem;
		padding: 0;
		margin: 0;
		aspect-ratio: 1 / 1;

		&:nth-of-type(10) {
			background: $orange;
		}
		&:nth-of-type(12) {
			background: $green;
		}

		// ugly fix for safari
		@supports not (aspect-ratio: 1 / 1) {
			vertical-align:  middle;

			&::before {
			  float: left;
			  padding-top: 100%;
			  content: "";
			}
		}
	}
}

#display {
	font-size: 3rem;
	margin-bottom: 2rem;
	text-align: right;
	background: transparent;
	border-bottom: solid 1px $grey;
}