// colors
$dark      : #242424;
$light     : white;

$blue      : #00a7ee;
$red       : #ea272e;
$orange    : #ef6846;
$yellow    : #fdcf18;
$green     : #50ba49;
$grey      : #707070;
$lightgrey : #d8d8d8;

$rainbow   : linear-gradient($red 0, $red 10%, transparent 10%, transparent 20%, $orange 20%, $orange 30%, transparent 30%, transparent 40%, $yellow 40%, $yellow 50%, transparent 50%, transparent 60%, $green 60%, $green 70%, transparent 70%, transparent 80%, $blue 80%, $blue 90%, transparent 90%);

// variables