@import "variables";

@import "header";
@import "forms";
@import "view";
@import "keypad";
@import "footer";
@import "alert";
@import "spinner";
@import "icons";

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $yellow;
}

html, body {
	font-size: 16px;
	user-select: none;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: $dark;
	color: $light;
	font-family: sans-serif;
}

main {
	margin-top: 5rem;
}